@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@font-face {
  font-family: 'Nebula';
  src: url('./../../Assets/Fonts/Nebula-Regular.otf');
}
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Nebula', sans-serif;
  margin: 0;
}

.font-orbitron {
  font-family: 'Nebula', sans-serif;
}

.nebula-text-effect {
    color: #E0E0E0; /* Light gray base color for text */
    animation: nebulaBlink 3s infinite ease-in-out, subtleDrift 12s linear infinite alternate;
    transition: text-shadow 0.3s ease-out, color 0.3s ease-out; /* For hover effect */
}

.nebula-text-effect:hover {
  color: #ffffff; /* Brighter color on hover */
    text-shadow: 
    0 0 10px #fff, 
    0 0 20px #0ff, 
    0 0 30px #0ff; /* Cyan glow on hover */
}

@keyframes nebulaBlink {
  0%, 100% {
    opacity: 0.8;
    text-shadow: 0 0 5px rgba(224, 224, 224, 0.3); /* Faint glow */
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(224, 224, 224, 0.7); /* Brighter glow */
  }
}

@keyframes subtleDrift {
  0% { transform: translate(0px, 0px) skewX(0deg); }
  25% { transform: translate(0.5px, -0.5px) skewX(0.05deg); }
  50% { transform: translate(0px, 0.5px) skewX(0deg); }
  75% { transform: translate(-0.5px, -0.5px) skewX(-0.05deg); }
  100% { transform: translate(0px, 0px) skewX(0deg); }
}

.digit-change {
    animation: digitFlip 0.5s ease-in-out;
}

@keyframes digitFlip {
    0% { transform: translateY(5px) scale(0.95); opacity: 0.7; }
    50% { transform: translateY(-2px) scale(1.02); opacity: 1; }
    100% { transform: translateY(0) scale(1); opacity: 1; }
}