@font-face {
  font-family: "Nebula-Regular";
  src: url("/fonts/Nebula-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nebula-Hollow";
  src: url("/fonts/Nebula-Hollow.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
