-- This is an example of a .env file will look like. Create a .env file in the root and paste the below values in it along with your variables. If you need further assistance you can ask just ask in the community

MONGODB_URI = mongodb+srv://1kvats9:nebula100@database.onndvuy.mongodb.net/?retryWrites=true&w=majority&appName=Database
JWT_SECRET = nebula100
