@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Nebula';
  src: url('../Assets/Fonts/Nebula-Regular.otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nebula', sans-serif;
  /* background: url('/space-bg.jpg') no-repeat center center fixed; */
  /* background-size: cover; */
  color: white;
}
